# Configurações de ambiente para DVR Watcher

# Credenciais RTSP
user=seu_usuario
password=senha_segura

# Endereço IP e porta do DVR
ip_address=ip_do_dvr

# Canais RTSP configurados
# Descomente as linhas de câmeras que você tem disponível
channel_1=1
channel_2=2
# channel_3=3
# channel_4=4
